* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #121212;
}

.todolistwrapper {
    background-color: whitesmoke !important;
    border-color: whitesmoke !important;
    border-style: solid !important;
}

.todo {
    padding: 8px 10px 8px 10px;
}

.form-check-input {
    margin-right: 10px;
    background-color: #121212;
}

.form-check-input:checked:focus {
    background-color: green;
}

.form-check-input:active {
    background-color: green;
}

.form-check-input:checked {
    background-color: green;
}

h2 {
    color: whitesmoke !important;
}

.form-control {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn {
    color: whitesmoke;
    background-color: #1D1D1D;
    border-color: whitesmoke;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 1px;
    margin-left: 1px;
    width: 100%;

}

.btn:hover {
    background-color: whitesmoke;
    color: black;
}

.btn:active {
    background-color: whitesmoke;
    color: black;
}

.btn:focus {
    background-color: whitesmoke;
    color: black;
}

.buttonswrapper {
    display: flex;
}

.buttonswrapper.space-around {
    justify-content: space-around;
}

.buttonswrapper.space-between {  
    justify-content: space-between;
}

.total {
    margin: 5px;
    margin-bottom: 3px;
}

@media screen and (min-width: 767px) {
    .container {
        max-width: 600px;
    }   
}